.options {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.btn {
    font-size: 15px;
    background-color: green;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #f58020;
}